<!doctype html>
<html lang="d">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>
<header>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-btn" viewBox="0 0 16 16">
  <path d="M6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
  <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm15 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
</svg> KickStart</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="#">Start A Project</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:{document.getElementById('logout').submit()}">Log Out</a>
        </li>
        <form method="post" id="logout" action="{% url 'logout' %}">
          {% csrf_token %}
          <li>
            <input type="hidden">
          </li>
        </form>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Log In</a>
        </li>
        {% endif %}
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
</header>




{% block content %}

{% endblock %}


<footer>
    <div class="container">
  <footer class="row row-cols-5 py-5 my-5 border-top">
    <div class="col">
      <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      </a>
      <p class="text-muted">Vishal Pal &copy; 2021</p>
    </div>

    <div class="col">

    </div>

    <div class="col">
      <h5>About</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About Us</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Our Character</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Stats</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Press</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Jobs</a></li>
      </ul>
    </div>

    <div class="col">
      <h5>Support</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Help Centre</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Our Rules</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Creator Resources</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Forward Funds</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Brand Assets</a></li>
      </ul>
    </div>

    <div class="col">
      <h5>More From Kickstart</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Newsletters</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Kickstart Magazine</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">the Creative Independent</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Mobile Apps</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Research</a></li>
      </ul>
    </div>
  </footer>
</div>

</footer>